@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
$textColor: #959494;
$textColorBlack: #111111;
$borderColor: #dcdcdc;
$disableTextColor: #cecdcd;
$bgcolor: #fff;
$bgcolorBack: #000000;
$bgcolorActive: #fc7857;
$bgcolordarkGrey: #d8d8d8;
$bgcolorGrey: #faf8f8;
$bgcolorNavbar: #faf8f8;
$bgSearch: #f7f9fb;

$borderLightColor: #d1d0d0;
$borderDarkColor: #dedcdc;
$color-white-400: #ffffff;

$blue: #3bd1e9;
$bgColorDisabled: #f9f7f7;
$main_font: "Inter", "sans-serif";
$secondary_font: "Inter", "sans-serif";
$text_size: 1.6rem;
$zIndex-Modal: 1000000;
